* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#topsec {
    margin-right: auto;
    margin-left: 13%;
    padding: 9px;
    width: 50%;
    height: auto;
}

#parent {
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 3%;

}

#my_bag {
    width: 100%;

}

#yello3 {
    margin-top: 15px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#yello3> :nth-child(1) {
    margin: 0px 0px 15px 0px;
    height: 50PX;
    border-radius: 5px;
    width: 58%;
    background-color: #FCFFEE;
    padding: 15px;

}

#yello3> :nth-child(2) {
    height: 6vh;
    background-color: #FDD835;
    margin: auto;
    width: 40%;
    border-radius: 5px;
    margin: 0px 0px 15px;
    padding: 0px 0px 0px 15px;
}

#bigger_bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9px;
}

#bigger_bottom>#child1 {

    width: 118%;
    height: 90%;



}


.bottom {
    width: 100%;
    height: auto;

}

#bigger_bottom>#child2 {
    margin-left: 20%;
    width: 100%;
    height: 5%;
    display: grid;
    grid-template-rows: repeat(6);




}

.four_child>p {
    color: #2D2D2D;
    font: 14px;
    margin-top: 0px;
    padding: 10px 15px;
    border: rgb(208, 207, 207);
    border-style: ridge;
    border-width: thin;
    border-radius: 3px;

}

#bigger_bottom>#child2>#child4 {
    padding: 10px 0px 5px 12px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 97%;
    color: #42A2A2;
    background-color: #42A2A11A;
    border-radius: 5px;

}


table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;

}

#bigger_bottom>#child2>#child5 {
    margin-top: 10px;
}

tr,
td {

    text-align: left;
    padding: 0px 0px 10px 0px;

}

#bigger_bottom>#child2>#child6 {
    display: flex;
    justify-content: space-between;
    height: 5em;

}

#topsec {
    width: 15%;

}

#child6>a {
    width: 50%;
    background-color: #42A2A2;
    text-align: center;
    height: 7vh;
    margin-right: 2%;
    padding: 9px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 5px;

}

#remove_btn {
    margin-left: 5%;
    width: 70%;
    height: auto;
    background-color: #fff;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgb(219, 214, 214);
}

#par {
    display: flex;
    justify-content: space-between;
    height: auto;
    border: solid rgb(219, 214, 214);
    border-width: thin;
    border-radius: 5px;
    margin-bottom: 2%;



}

#discribe {
    display: block;
    margin-left: 2%;
}

#img_div {
    margin: auto;
    width: 82%;
    height: 17vh;
    margin-top: 10px;
    border-radius: 7px;

}

#mrp {
    text-decoration: line-through;
}

#price_box {
    display: flex;
    column-gap: 10px;
    font-size: 15px;

}

#price {
    font-weight: bolder;
    font-size: 17px;
}

@media screen and (max-width:1246px) and (min-width:670px) {

    body {
        background-color: hsl(75, 46%, 95%);
    }

    #parent {
        margin-right: 9%;
        margin-top: 5%;
    }
    .four_child
{
    width: 133%;
    height: 100%;
}   
    #bigger_bottom {

        display: block;
        margin-right: 90%;
        width: 100%;


    }

    #bigger_bottom>#child1 {
        width: 100%;
        height: 90%;
    }
}

#discribe {
    display: block;

}

#bigger_bottom>#child2 {
    margin-left: 2%;
    width: 100%;
    height: 5%;
    display: grid;
    grid-template-rows: repeat(6);
}
@media screen and (max-width:671px) and (min-width:340px) {

    body {
        background-color: hsl(46, 52%, 94%);
    }

    #parent {
        margin-right: 9%;
        margin-top: 5%;
    }

    #bigger_bottom {

        display: block;
        margin-right: 90%;
        width: 100%;


    }

    #bigger_bottom>#child1 {
        width: 100%;
        height: 90%;
    }
}

#discribe {
    display: block;

}

#bigger_bottom>#child2 {
    margin-left: 20%;
    width: 50px;
    height: 50px;
    
}
.four_child
{
    width: 60%;
    height: 100%;
}