#host {
    margin-left: 200px;
    
    
}

#parent {
           
    width: 600px;
    height: 40px;
    
}

#vertical {
    width: 1px;
    height: 800px;
    background-color: red;
}

img {
    height: 30px;
    margin-left: 70px;
}

#loginTitle {
    margin-left: 1000px;
    margin-top: -45px;
    height: 50px;
}

label {

    padding-top: 50px;
    
}

.tabs-container {

    font-family: "Roboto", sans-serif;
    max-width:  700px;
    min-height: 400px;
    margin: 30 px auto;
    display: flex;
    box-shadow: 0 4px 40px -8px rgba(0, 0,0, 0.2);
}

.tabs-container .tabs {
    width: 300px;
    background: #fff;
    color: #fff;
    text-transform:none;
    text-align: left;
}

.tabs-container .tabs .tab {
    padding: 24px 32px;
    background: #222;
    cursor: pointer;
    font-weight: bold;
}

.tabs-container .tabs .tab.active {

    background: white;
    color: #222;
}

.tabs-container .content-container {

    background:  #f6fdff;
}

.tabs-container .content-container .content {
    display: none;
    padding: 32px;
    margin-top: -30px;
}

.tabs-container .content-container .content.active {
    display: block;
}

.tabs-container .content-container h3 {
    margin: 0;
    font-size: 30px;
}

input {
    width: 300px;
    height: 25px;
    margin-top: 15px;
}

#im {
    margin-left: -10px;
    margin-top: -10px;
    padding-top: 10px;
}

input[type="radio"] {
    display: block;
}


#rinput {
    display: inline-block;
    vertical-align: right;
   margin-left: 50px;
   width: 500px;
 
    
}

span {
    display: inline-block;
    width: 100px; /* adjust as per your requirement */
    text-align: left;
    font-size: 16px; /* adjust as per your requirement */
    vertical-align: middle;
    /*margin-left: 20px;*/
}
#img2 {
    width: 30px;
    height: 30px;
    margin-top: 30px;
  
}

#lbl {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
  }
  




  